.more-screen .icon-row {
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.more-screen .icon-row .icon-row__icon {
  width: 25%;
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}
